html,
  input,
  select,
  button {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    background-color: white;
    margin: 0px;
    padding: 0px;
  }

  button,
  input[type=number],
  input[type=text],
  select {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: rgb(50, 80, 212);
    color: white;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: rgb(77, 102, 212);
  }

  select > option{
    padding: 3px;
  }

  #container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    scroll-behavior: smooth;
  }

  #container>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
  }

  #dynamicContainer{
    background-color: aliceblue;
    margin-bottom: 5px;
    padding: 5px;
  }

  #dynamicContainer input{
    margin: 3px;
  }

  #dynamicContainer input[type=text]{
    margin: 3px;
    width: 20em;
  }

  #dynamicContainer input[type=number]{
    margin: 3px;
    width: 100px;
  }

  #equationInput {
    width: 20em;
  }

  #resultTable {
    border: 1px solid darkslategrey;
    border-collapse: collapse;
    width:100%;
  }

  #resultTable td {
    border: 1px solid darkslategrey;
    padding: 0.5em;
    text-align: right;
  }

  #resultTable tr:first-child td {
    font-weight: bold;
    text-align: center;
  }

  #resultTable td:first-child {
    text-align: center;
  }

  #resultTable .answer {
    background: rgba(50, 80, 212, 0.3);
    font-weight: bold;
  }
  
  .inputResource{
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .inputResource input, .inputResource select{
    margin: 8px;
  }

  .inputResource span{
    font-size: small;
  }

  .inputResource > div{
    display: flex;
    flex-flow: column;
    align-items: center;
  }